.image-container2 {
  width: 10.8cm;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
 
.headertamil-logo {
  width: 10.8cm;
  height: 100%;
}
  
.date-text2 {
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.26cm;
    font-weight: 1000;
    margin-left: -4.3cm;
    margin-top: 0.6cm;
  }